/*Var color*/
/*Var font size*/
/*Reset*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

body, html {
  font-family: 'Karla', sans-serif;
  height: 100%;
  font-size: 24px; }

.login-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A7D7C5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem; }

.box-form {
  max-width: 700px;
  background: #F6FBF9;
  padding: 2rem;
  border-radius: 1.6rem;
  text-align: center; }
  .box-form .form-header {
    margin-bottom: 1rem;
    max-width: 480px;
    margin: auto;
    margin-bottom: 1rem; }
    .box-form .form-header .title {
      color: #212B27;
      font-weight: bold;
      font-size: 2rem; }
    .box-form .form-header .subtitle {
      color: #32403B; }
  .box-form .form-group {
    margin-bottom: 1rem; }
  .box-form .form-control {
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; }
    .box-form .form-control:focus {
      outline: 0px;
      border-color: #84C7AE; }
    .box-form .form-control::placeholder {
      color: rgba(0, 0, 0, 0.5); }
  .box-form .actions {
    text-align: center;
    margin-bottom: 1rem; }
    .box-form .actions .btn {
      width: 100%;
      max-width: 400px;
      border-radius: 0.5rem;
      background: #84C7AE;
      color: #fff;
      font-size: 1.2rem;
      padding: 0.7rem 2rem;
      border: 0px;
      font-weight: bold; }
  .box-form .bottom {
    font-size: 0.875rem; }
    .box-form .bottom .link {
      color: #32403B; }
      .box-form .bottom .link:hover {
        color: #84C7AE; }

/*Responsive screen <=1600*/
@media (max-width: 1600px) {
  html, body {
    font-size: 16px; }
  .box-form {
    max-width: 400px; } }

/*Responsive screen <=768*/
@media (max-width: 768px) {
  html, body {
    font-size: 14px; }
  .box-form {
    padding: 1.5rem; }
    .box-form .form-header .title {
      font-size: 1.8rem; } }
